.header {
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 25px;
    color: rgb(195, 195, 195);
    background-color: #013a63;
    font-family: "Amatic SC", "Courier New", Courier, monospace;
    border-bottom: 1px solid white
}


.brandFont {
    font-size: 30px !important;
}

.navlink {
    text-decoration: none;
    margin: 0 10px 0 10px;
}

@media screen and (max-width: 375px) {
    .header {
        height: auto;
        line-height: 25px;
        color: rgb(195, 195, 195);
        background-color: #013a63;
        font-family: "Amatic SC", "Courier New", Courier, monospace;
        border-bottom: 1px solid white
    }

    .media-container {
        display:flex !important;
        flex-direction: column !important;
    }

    .media-nav {
        margin-top: 20px !important;
        display: flex !important;
        flex-direction: column !important;
    }
}