.footer {
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 25px;
    color: rgb(195, 195, 195);
    background-color: #013a63;
    font-family: "Amatic SC", "Courier New", Courier, monospace;
    border-top: 1px solid white;
}

@media screen and (max-width:428px) {
    .media-footer {
        margin-left: 20px !important;
    }
  }